{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
<title>User Create Page</title>
{% endblock title %}

{% block content %}
    {% if u_id == auth %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create...</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>
    {% else %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Incorrect logged User</legend>
        </fieldset>
    {% endif %}

{% endblock content %}